<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
 	<listener class-name="generatereport.Listeners"/>
  </listeners>
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
     <class name="testscripts.ManageCategoryTest"/>
      <class name="testscripts.ManageNewsTest"/>
      <class name="testscripts.LogOutTest"/>
      <class name="testscripts.ManageContactTest"/>
      <class name="testscripts.FooterTest"/>
      <class name="testscripts.AdminUserTest"/>
      <class name="testscripts.LoginTest"/>
       <class name="testscripts.ManageNewsTest"/>
       <class name="testscripts.AdminUserTest"/>
       <class name="testscripts.ManageNewsTest"/>
       <class name="testscripts.AdminUserTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
